
@{
    ViewBag.Title = "Zwembad";
}

<!--Second navbar-->
<nav class="navbar navbar-expand-md bg-dark" id="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav">
            <li class="nav-item">@Html.ActionLink("Faciliteiten", "Index", "Facility", new { @class = "facility-nav" })</li>
            <li class="nav-item">@Html.ActionLink("Zwembad", "swimmingPool", "Facility", new { @class = "facility-nav" })</li>
            <li class="nav-item">@Html.ActionLink("Wasserette", "laundryService", "Facility", new { @class = "facility-nav" })</li>
            <li class="nav-item">@Html.ActionLink("Sanitair", "Sanitary", "Facility", new { @class = "facility-nav" })</li>
            <li class="nav-item">@Html.ActionLink("Fietsverhuur", "BicycleRental", "Facility", new { @class = "facility-nav" })</li>
            <li class="nav-item">@Html.ActionLink("Camping Winkel", "CampingShop", "Facility", new { @class = "facility-nav" })</li>
            <li class="nav-item">@Html.ActionLink("Speeltuin", "Playground", "Facility", new { @class = "facility-nav" })</li>
            <li class="nav-item">@Html.ActionLink("Restaurant / Bar / Terras", "Restaurant", "Facility", new { @class = "facility-nav" })</li>
        </ul>
    </div>
</nav>

<!--Container with content info and image-->
<div class="container-info row">

    <!--Info-->
    <div class="info-block col-md-4 ">
        <h2 class="facility-h2">Zwembad</h2>
        <br />
        <h4 class="facility-h4">Zwemplezier voor iedereen</h4>

        <p>
            Ons buitenzwembad geeft u het echte vakantiegevoel. Krijg een kleurtje op een van de ligstoelen, lees een boek
            onder de parasol of duik met de kinderen het zwembad in. Natuurlijk hebben wij ook aan de allerkleinste gasten
            gedacht; in het peuterzwemad vermaken de kinderen zich met het speeltoestel.
        </p>

    </div>

    <!--Image-->
    <div class="swimImg col-md-4">
        <img src="~/Img/swimmingpool.jpg" width="350px 600px">
    </div>
</div>
